<!-- your html code here -->

<div>
  <h1 class="fs-1">Contact</h1>
  <p class="lead">
    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  </p>
</div>

<form class="bg-light w-50 mx-auto border border-2 rounded-1">
  <div class="container p-3">
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label fw-bold">Your E-mail</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Your email">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputMssg" class="col-sm-2 col-form-label fw-bold">Your message</label>
      <div class="col-sm-10">
        <textarea name="inputMssg" id="" class="form-control"
          placeholder="Please enter your message here..." style="height: 100px;"></textarea>
      </div>
    </div>
    <div class="d-grid d-md-flex justify-content-md-end">
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
  </div>

</form>