<!-- your html code here -->
<div>
    <hr class="my-5">
    <h1 class="fs-1">Portfolio</h1>
    <p class="lead">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
        Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p>

    <div class="row text-start">
        <!-- Project 1 -->
        <div class="col-md-4 mb-4">
            <div class="portfolio-item">
                <img src="./assets/img/big-project-image.png" alt="Project 1" class="img-fluid mb-3">
                <h5 class="text-primary fw-bold">Project Name</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida
                    pellentesque urna varius vitae.</p>
            </div>
        </div>

        <!-- Project 2 -->
        <div class="col-md-4 mb-4">
            <div class="portfolio-item">
                <img src="./assets/img/big-project-image.png" alt="Project 2" class="img-fluid mb-3">
                <h5 class="text-primary fw-bold">Project Name</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida
                    pellentesque urna varius vitae.</p>
            </div>
        </div>

        <!-- Project 3 -->
        <div class="col-md-4 mb-4">
            <div class="portfolio-item">
                <img src="./assets/img/big-project-image.png" alt="Project 3" class="img-fluid mb-3">
                <h5 class="text-primary fw-bold">Project Name</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida
                    pellentesque urna varius vitae.</p>
            </div>
        </div>
    </div>
    <hr class="my-5">
</div>