<!-- your html code here -->

<div class="d-flex justify-content-betweenb">
    <img src="./assets/img/2.jpg" class="rounded-circle" alt="">

    <div>
        <h1 class="text-sm-start">The Second Heading Is Pretty Cool Too </h1>
        <p class="text-sm-start">Deserunt architecto doloribus? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt cum magni, tenetur aliquid recusandae laborum, est veniam quaerat libero similique excepturi mollitia enim, fugiat dolore iure minima. Assumenda, cumque consequatur?</p>
    </div>
</div>