<!-- your html code here -->

<div class="d-flex justify-content-between">
    <img src="./assets/img/2.jpg" class="rounded-circle" alt="">

    <div>
        <h1 class="text-sm-start">The Second Heading Is Pretty Cool Too </h1>
        <p class="text-sm-start">Lorem ipsum dolor sit Lorem ipsum, dolor sit amet consectetur adipisicing elit. At id porro error quidem sunt ea iusto quaerat alias impedit esse ex repellendus laudantium voluptatem, neque magnam ratione, exercitationem voluptatibus quos.amet consectetur adipisicing elit. Excepturi commodi quas id, doloribus
        libero veniam porro dolor hic rerum, mollitia sint, repudiandae unde quo reprehenderit deserunt corporis
        repellendus ea adipisci?</p>
    </div>
</div>